
.suprise-page {
  background-color: #3e97d3;
  display: flex;
  height: 100vh; /* Убедитесь, что контейнер имеет высоту */
  flex-direction: column;
  justify-content: center; /* Центрируем элементы по вертикали */
  align-items: center; /* Центрируем элементы по горизонтали */
}

.button_running {
  text-align: center;
  font-family: Courier New, sans-serif;
  width: 150px;
  height: 50px;
  position: absolute;
  background-color: #d69bb7;
  border-radius: 10px;
  top: 560px;
  color: #7c3e5d; /* Added for better visibility */
  border: none; /* Optional: remove border */
  cursor: pointer; /* Optional: change cursor on hover */
  font-size: 23px; /* Optional: adjust font size */
}

.button_running:hover {
  background-color: rgba(76, 14, 14, 0.87); /* Optional: darker shade on hover */
  transform: scale(1.05); /* Add a subtle scale effect on hover */
  color: white;
}

.Surprise {
  width: 1080px;
  height: 600px;
  margin-bottom: 20px; /* Добавим отступ под изображением */
  object-fit: cover; /* Чтобы изображение корректно масштабировалось */
}